body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h2,
h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;

}

.header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 49px;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-container {
  height: calc(100% - 113px);
  margin-top: 49px;
  /* width: 100%; */
  /* max-width: 400px; */
  /* height: 100vh; */
  position: fixed;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  will-change: scroll-position;
  transition: scroll-snap-align 1s ease-in-out;

  --scroll-position: 0;
}

/* .scroll-item {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: red;
  border-bottom: 10px solid blue;
} */


.navMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 21;
    height: 64px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #004dac;
}




/*Chat Gpt*/
/* .video-feed {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video-card {
  scroll-snap-align: start;
}

.video-card.selected {
  position: relative;
  z-index: 9999;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 */

 .overlayDark {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  top: 0;
  background-color: #000000b4;
}


.slide-animation-content {
  position: relative;
  height: 100%;
  width: 100%;
}

 .slide-animation {
  
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: slide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}


.slide-animation p {
  font-size: 14px;
  cursor: pointer;
  color: white;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
}



